<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
    
<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form class="loginForm" action="/account/login" method="post">
    <label class="top">Email<input type="email" name="account_email" required value="<%= locals.account_email %>"></label>
    <label class="top">Password<input id="pword" type="password" name="account_password" autocomplete="on" required placeholder="ab12" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"></label>
    <span id="pswdBtn">Show Password</span>
    <input type="submit" value="SIGN IN" class="submitBtn">
    <h2 class="noAccount">No account? <a href="/account/register">Sign-up</a></h2>
</form>
