<header id="top-header">
    <span class="siteName">
        <a class="title" href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <a class="login" href="/account/login" title="CLick to log in">My Account</a>
    </div>
</header>