<nav>
    <ul>
        <li class="left"><a href="">Home</a></li>
        <li class="middle"><a href="">Custom</a></li>
        <li class="middle"><a href="">Sedan</a></li>
        <li><a href="">SUV</a></li>
        <li class="right"><a href="">Truck</a></li>
    </ul>
</nav>