<section>
    <h1>WElcome to CSE Motors!</h1>
    <div id="hero">
        <img class="delorean" src="images/vehicles/delorean.jpg" alt="delorean">
        <div class="info">
            <h2>DMC Delorean</h2>
            <ul>
                <li>3 cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <a href="#">Own today</a>
        </div>
    </div>
    <div id="reviews">
        <h3>DMC Delorean Reviews</h3>
        <ul>
            <li>"So fast it's almost like traveling in time" (4/5)</li>
            <li>"Coolest ride on the road" (5/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80's living and love it!" (5/5)</li>
        </ul>
    </div>
    <div id="upgrades">
        <h3>Delorean Upgrades</h3>
        <div class="options">
            <a href="#">
                <img src="images/upgrades/flux-cap.png" alt="flux capacitor">
                <p>Flux capacitor</p>
            </a>
            <a href="#">
                <img src="images/upgrades/flame.jpg" alt="Flame decal">
                <p>Flame decal</p>
            </a>
            <a href="#">
                <img src="images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
                <p>Bumper sticker</p>
            </a>
            <a href="#">
                <img src="images/upgrades/hub-cap.jpg" alt="hub caps">
                <p>Hub caps</p>
            </a>
        </div>
    </div>
</section>