/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body{
  font-family: 'Kanit', sans-serif;
  /* https://coolors.co/393a5c-555280-c2451a */
  max-width: 100%;
  margin: 0;
}
#wrapper{
  text-align: center;
}
#top-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
#top-header a{
  text-decoration: none;
  color: black;
  margin: 5px;
}
.title{
  font-size: 30px;
  margin: 5px;
}
/* nav{
  background-color: #393A5C;
  color: white;
  width: 100%;
}
nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0%;

}
nav ul li{
  list-style: none;
  padding: 14px;
}
nav ul li a{
  color: white;
  text-decoration: none;
}
nav ul li a:hover{
  font-size: 20px;
} */
nav button{
  margin: .2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: antiquewhite;
}
nav{
  background-color: #393A5C;
  text-align: left;

}
nav ul{
  display: none;
  list-style-type: none;
  padding: 20px;
  margin: 0;
}
nav ul.open{
  display: block;
}
nav ul li a{
  display: block;
  text-decoration: none;
  color: antiquewhite;
  padding: .8rem 2vw;
  border-top: 1px solid rgba(171, 152, 152, 0.5);
}
nav ul li.active a{
  background-color: rgba(0, 0, 0, .2);
  color: white;
}
nav ul li a:hover{
  background-color: rgba(0, 0, 0, .3);
}
#hamburgerBtn span:nth-child(1){
  display: block;
}
#hamburgerBtn span:nth-child(2){
  display: none;
}
#hamburgerBtn.open span:nth-child(1){
  display: none;
}
#hamburgerBtn.open span:nth-child(2){
  display: block;
}

h1{
  margin-left: 17px;
  font-size: 35px;
}
h2{
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 20px;
}
#hero{
  display: grid;
}
.info{
  background-color: #c2441aa9;
  max-width: 40%;
  /* height: 180px; */
  margin-left: 15px;
  padding: 5px;
  border-radius: 10px;
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  grid-row: 1/1;
  grid-column: 1/1;
  justify-content: space-evenly;
}
.delorean{
  max-width: 90%;
  grid-row: 1/1;
  grid-column: 1/1;
  margin-left: auto;
}
.info ul{
  margin-top: 0px;
  padding-left: 15px;
  margin-bottom: 8px;
}
.info li{
  list-style: none;
}
.info a{
  padding: 10px;
  background-color: #555280;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#upgrades{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-around;
}
.options a{
  background-color: #C2451A;
  margin: 10px;
  width: 150px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
}
.options p{
  font-family: 'Lemon', serif;
  margin: 0%;
  color: white;
}
.options img{
  margin-top: 5px;
}
footer{
  text-align: center;
}
#reviews h3{
  margin-left: 20px;
}
#review{
  font-family: 'Lemon', serif;
}
#vehicle{
  max-width: 90%;
  margin: auto;
}
.mainInfo{
  display: flex;
  flex-direction: column;
}
.information, .information2{
  background-color: #555280;
  max-width: 100%;
  color: white;
  border-radius: 20px;
}
#inv-display{
  display: flex;
  flex-direction: column;
  padding: 0;
}

#inv-display li{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 250px;
  align-self: center;
  border: 2px solid #C2451A;
  margin: 3px auto 3px auto;
}
#inv-display li img{
  max-width: 150px;
  align-self: center;
}
#inv-display li a {
  margin-left: auto;
  margin-right: auto;
  
}
.namePrice{
  text-align: center;
  max-width: 200px;
}
.namePrice a{
  color: black;
  text-decoration: none;
}
form{
  background-color: #393A5C;
  padding: .5rem;
  color: white;
}
form fieldset{
  border-radius: 10px;
  margin: 2rem 0;
  border: 1px solid white;
  padding: .5rem 2%;
}
form legend{
  margin: 0 1rem;
  padding: 0 .5rem;
}
form label.top{
  display: block;
  padding-top: 1rem;
  font-size: 1rem;
}
form label.top input{
  display: block;
  font-size: 1rem;
  border: solid 1px white;
  border-radius: 4px;
  padding: .75rem;
  color: black;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0,0,0,0.1);
  margin: auto;
  color: white;
}

.submitBtn{
  display: block;
  border: none;
  background-color: #C2451A;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 10px auto 2rem auto;
  width: 25%;
  max-width: 20rem;
  align-self: center;
  position: relative;
}
.submitBtn:hover{
  cursor: pointer;
  box-shadow:3.5px  5px rgba(0, 0, 0, .2);
  color: red;

}
.top input:required{
  border-left: red solid 4px;
}
.top input:required:valid{
  border-left: green solid;
}
.noAccount a{
  color: wheat;
}
#pswdBtn {
  display: block;
  background-color: #C2451A;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 2px;
  margin-top: 1em;
  font-size: small;
  width: 10em;
  text-align: center;
  margin: 8px auto 5px 15%;
}
#pswdBtn:hover{
  cursor: pointer;
}
.requirements{
  display: block;
  max-width: 50%;
  margin: 5px auto 5px auto;
}
.notice{
  list-style: none;
  color: red;
}
.links{
  display: flex;
  flex-direction: column;
 }
.textera{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#invTextera{
  max-width: 70%;
  margin: auto;
}
#invTextera:required{
  border: 4px solid red;
}
#invTextera:required:valid{
  border: 4px solid green;
}


table {
  margin: 10px auto 0 auto;
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 1rem;
}

td, th, thead, .fill{
  border: 1px solid black;
  padding: 10px 20px;
}

th {
  background-color: #C2451A;
  padding: 22.3px;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(206, 204, 204);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}
tr:first-child th {
  background-color: #C2451A;
  color: white;
}
tr #empty{
  background-color: darkslategrey;
  margin-top: 0;
  padding: 0;
  max-height: 100px;
  border-top: none
}
#classificationList{
  max-width: 20rem;
  align-self: center;
}


@media only screen and (min-width: 700px){
  nav{
    text-align: center;
  }
  #hero{
    max-width: 650px;
    margin: auto;
  }
  h1{
    margin: auto;
  }
  #inv-display{
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 900px){

  body{
    /* background-color: aqua; */
    background-image: url("../images/site/checkerboard.jpg");
    }
    #wrapper{
    background-color: white;
    max-width: 900px;
    margin: 20px auto 20px auto;
    border: 3px solid black;
    border-radius: 30px;
  }
  section{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
  }
  h1{
    grid-column: 1/3;
    grid-row: 1/1;
  }
  #hero{
    grid-column: 1/3;
    grid-row: 2/3;
  }
  #reviews{
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #reviews ul{
    font-family: 'Lemon', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #reviews ul li{
    margin: 10px;
  
  }
  #reviews h3{
    margin-bottom: 42px;
    font-size: 1.17em;
    text-align: center;
  }
  #upgrades{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  nav{
    max-width: 95%;
    margin: auto;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 80%;
    padding: 0;
    width: 100%;
    max-width: 800px;

  }
  nav ul li{
    max-height: 50%;
    width: 100%;
    text-align: center;
    margin: 5px auto;
    padding: 5px;
  }
  nav ul li a {
    border: none;
    padding: 0;
  }
  nav button{
    display: none;
  }

  .right{
    border-left: 2px solid rgba(0, 0, 0, 0.46);
  }
  .left{
    border-right: 2px solid rgba(0, 0, 0, 0.46);
  }
  .middle{
    border-right: 2px solid rgba(0, 0, 0, 0.46);
  }
  #top-header{
    padding: 20px;
  }
  h1{
    padding: 10px;
  }
  #hero{
    margin: 20px auto;
  }
  #inv-display{
  grid-template-columns: auto auto auto;
  }
  #inv-display li{
    height: 250px;
  }
  #vehicle{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    max-width: 100%;
  }
  .mainInfo{
  flex-direction: column;
  }
  .information{
    width: 300px;
    margin-right: 10px;
    text-align: left;
    padding-left: 10px;
    border-radius: 30px 30px 0 0;
    width: 345px;
    
  }
  .information h2{
    margin-left: auto;
    margin-right: auto;
  }
  .information2{
    border-radius: 0 0 30px 30px ;
    width: 345px;
    padding: 2px;
  }
  form{
    max-width: 80%;
    border-radius: 30px;
    margin: 20px auto 10px auto;
  }
  .submitBtn{
    width: 17%;
  }
  #pswdBtn{
    margin-left: 27%;
  }
  #classificationList{
    max-width: 10rem;
  }
}