/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body{
  font-family: 'Kanit', sans-serif;
  /* https://coolors.co/393a5c-555280-c2451a */
  max-width: 100%;
  margin: 0;
}
#wrapper{
  text-align: center;
}
#top-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
#top-header a{
  text-decoration: none;
  color: black;
  margin: 5px;
}
.title{
  font-size: 30px;
  margin: 5px;
}
nav{
  background-color: #393A5C;
  color: white;
  width: 100%;
}
nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0%;

}
nav ul li{
  list-style: none;
  padding: 14px;
}
nav ul li a{
  color: white;
  text-decoration: none;
}
nav ul li a:hover{
  font-size: 20px;
}


h1{
  margin-left: 17px;
  font-size: 35px;
}
h2{
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 20px;
}
#hero{
  display: grid;
}
.info{
  background-color: #c2441aa9;
  max-width: 40%;
  /* height: 180px; */
  margin-left: 15px;
  padding: 5px;
  border-radius: 10px;
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  grid-row: 1/1;
  grid-column: 1/1;
  justify-content: space-evenly;
}
.delorean{
  max-width: 90%;
  grid-row: 1/1;
  grid-column: 1/1;
  margin-left: auto;
}
.info ul{
  margin-top: 0px;
  padding-left: 15px;
  margin-bottom: 8px;
}
.info li{
  list-style: none;
}
.info a{
  padding: 10px;
  background-color: #555280;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#upgrades{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-around;
}
.options a{
  background-color: #C2451A;
  margin: 10px;
  width: 150px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
}
.options p{
  font-family: 'Lemon', serif;
  margin: 0%;
  color: white;
}
.options img{
  margin-top: 5px;
}
footer{
  text-align: center;
}
#reviews h3{
  margin-left: 20px;
}
#review{
  font-family: 'Lemon', serif;
}
#vehicle{
  max-width: 90%;
  margin: auto;
}
.mainInfo{
  display: flex;
  flex-direction: column;
}
.information, .information2{
  background-color: #555280;
  max-width: 100%;
  color: white;
  border-radius: 20px;
}
#inv-display{
  display: flex;
  flex-direction: column;
  padding: 0;
}

#inv-display li{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 250px;
  align-self: center;
  border: 2px solid #C2451A;
  margin: 3px auto 3px auto;
}
#inv-display li img{
  max-width: 150px;
  align-self: center;
}
#inv-display li a {
  margin-left: auto;
  margin-right: auto;
  
}
.namePrice{
  text-align: center;
  max-width: 200px;
}
.namePrice a{
  color: black;
  text-decoration: none;
}
@media only screen and (min-width: 700px){
  #hero{
    max-width: 650px;
    margin: auto;
  }
  h1{
    margin: auto;
  }
  #inv-display{
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 900px){
  body{
    /* background-color: aqua; */
    background-image: url("../images/site/checkerboard.jpg");
    }
    #wrapper{
    background-color: white;
    max-width: 900px;
    margin: 20px auto 20px auto;
    border: 3px solid black;
    border-radius: 30px;
  }
  section{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
  }
  h1{
    grid-column: 1/3;
    grid-row: 1/1;
  }
  #hero{
    grid-column: 1/3;
    grid-row: 2/3;
  }
  #reviews{
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #reviews ul{
    font-family: 'Lemon', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #reviews ul li{
    margin: 10px;
  
  }
  #reviews h3{
    margin-bottom: 42px;
    font-size: 1.17em;
    text-align: center;
  }
  #upgrades{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  nav{
    max-width: 95%;
    margin: auto;
  }
  nav ul{
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  nav ul li{
    max-height: 50%;
    width: 100%;
    text-align: center;
    margin: 5px auto;
    padding: 5px;
  }
  .right{
    border-left: 2px solid rgba(0, 0, 0, 0.46);
  }
  .left{
    border-right: 2px solid rgba(0, 0, 0, 0.46);
  }
  .middle{
    border-right: 2px solid rgba(0, 0, 0, 0.46);
  }
  #top-header{
    padding: 20px;
  }
  h1{
    padding: 10px;
  }
  #hero{
    margin: 20px auto;
  }
  #inv-display{
  grid-template-columns: auto auto auto;
  }
  #inv-display li{
    height: 250px;
  }
  #vehicle{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    max-width: 100%;
  }
  .mainInfo{
  flex-direction: column;
  }
  .information{
    width: 300px;
    margin-right: 10px;
    text-align: left;
    padding-left: 10px;
    border-radius: 30px 30px 0 0;
    width: 345px;
    
  }
  .information h2{
    margin-left: auto;
    margin-right: auto;
  }
  .information2{
    border-radius: 0 0 30px 30px ;
    width: 345px;
    padding: 2px;
  }
}